/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/

#link1, #link2 {
  font-size: 20px;
  color: black
}

#link1:hover {
  border-radius: 10px;
  background-color: lightsteelblue
}

.color-nav {
  background-color:lavender
}

h4 {
  color: teal
}

.p_calc {
  text-align: center;
  padding-top: 2rem;
  font-size: 15pt;
  font-family: 'verdana';
  color: blue
}

.but1, .but2 {
  background: #4A9DFF;
  border-radius: 10px;
}

.but2 {
  margin-top: 47px;
}

.navLink {
  margin-right: 2rem;
}

.black_toast {
  background-color: black;
  color:white
}

.tab_head {
  background-color: lightyellow
}

#ab {
  width: 142px;
  height: 23px;
  left: 23px;
  top: 103px;
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  text-transform: uppercase;
  color: #5D6E97;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
